:import("@my-org/simple-class/module.css") {
  single: singleDeclaration;
  multiple: multipleDeclarations;
}

:root {
  --large: 4em;
}

.localClass {
  height: 100%;
}

.localComposes {
  composes: localClass;
  electrons: (fontWeightBold);

  text-decoration: underline;
}

.simpleComposes {
  composes: single;
}

.complexComposes {
  composes: single multiple localComposes;
  electrons: (black, white_hover);
}

.extend {
  composes: multiple;

  font-size: var(--large);
}
