.responsiveClass {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .responsiveClass {
    font-size: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .responsiveClass {
    font-size: 3em;
  }
}


@media screen and (min-width: 1024px) {
  .responsiveClassMixedOrder {
    font-size: 3em;
  }
}

.responsiveClassMixedOrder {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .responsiveClassMixedOrder {
    font-size: 2em;
  }
}


.responsiveElectrons {
  electrons: (black_mobile, white_desktop);
}

.responsiveElectronsWithCustomDelcaration {
  electrons: (black_mobile, white_desktop);
  font-size: 4em;
}
