:import("@my-org/simple-class/module.css") {
  single-declaration: singleDeclaration;
}

.simpleDeclaration {
  composes: single-declaration;
}

.withSharedVar {
  color: blue;

  .nested {
    color: green;
  }
}
