.singleNesting {
  color: red;

  .child,
  .sibling {
    color: blue;
  }
}

.deepNesting {
  color: red;

  .child {
    color: blue;

    .grandchild {
      color: green;
    }
  }
}

.classCombination {
  font-size: 1em;

  &.modifier {
    font-size: 2em;
  }
}

.complex {
  font-size: 1em;

  &.modifier {
    color: red;
  }

  & {
    display: flex;
  }

  .child {
    font-size: 0.5em;

    &.childModifier {
      color: blue;

      .nested {
        color: green;
      }
    }
  }
}

.nestedPseudo {
  color: red;

  &:hover {
    color: blue;

    .hoverChild {
      color: green;

      &.hoverChildModifier {
        font-size: 2em;

        &:after {
          content: "after";
          position: absolute;
        }
      }
    }
  }
}
